/* wdd131/coolpics/coolpics.css - Style sheet for Unit 2's Cool Pics */

@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

/* Custom properties */
:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: Mooli, san-serif;
}

/* Global styles */
body {
    background-color: var(--text-light);
    font-family: var(--primary-font);
    font-size: 1.2em;
    text-align: center;
}
header, footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 1em 0;
}
h1, h2 {
    font-family: var(--secondary-font);
}

/* HTML selectors */
h1 {
    margin-block-start: 0;
    font-weight: normal;
}
button {
    background-color: inherit;
    color: inherit;
    font: inherit;
    border: none;
}
a {
    display: block;
    margin: 0.25em auto;
    font-size: medium;
}
a:link {
    color: var(--text-light);
}
a:visited {
    color: var(--accent-color);
}

/* Class selectors */
.hide {
    display: none;
}

/* Gallery layout */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin: 1em;
}

.square {
    position: relative;
    margin: 0 auto;
    max-width: 250px;
}
figure {
    position: relative;
    margin: 0 ;
    width: 100%;
    padding-bottom: 100%;
}
img.thumbnail {
    position: absolute;
    left: 0;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    padding: 5px;
    background-color: #fff;
    box-shadow: 3px 3px 5px;
}

/* Viewer layout */
.viewer {
    position: fixed;
    top:0; left:0; bottom:0; right:0;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    z-index: 1;
}
.title-bar {
    margin: 0 auto;
    min-width: min(100%, 800px);
    max-width: min(100%, 800px);
    justify-items: right;
    display: grid;
}
.span-container {
    position: relative;
}
#close-span {
    position: absolute;
    bottom: 10px; right: 10px;
    color: #fff;
}
img.modal {
    margin: 0 auto;
    height: auto;
    width: 100%;
    max-height: 100%;
    max-width: min(100%, 800px);
}

/* Media queries */
@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }


  button {
      display: none;
  }

  .topmenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
}
  @media screen and (min-width: 1000px) {
    .gallery {
      grid-template-columns: 1fr 1fr 1fr;
    }
  } 
